@page "/confirmacion"

<h3 class="text-center mt-5">🎉 ¡Compra realizada con éxito!</h3>
<p class="text-center">Gracias por tu compra. Tu pedido será procesado pronto.</p>

<div class="text-center mt-4">
    <NavLink class="btn btn-primary" href="/ProductosCliente">Volver a Productos</NavLink>
</div>