@namespace TecnoStoreMovil.Components.Layout
@using TecnoStoreMovil.Services.Contrato
@inherits LayoutComponentBase
@inject ISesionService Sesion
@inject NavigationManager Nav

<div class="d-flex flex-column min-vh-100">

    <!-- Navbar global -->
    <NavMenu />

    <!-- Contenido -->
    <main class="flex-fill">
        <div class="container ts-container py-3">
            @Body
        </div>
    </main>

    <footer class="border-top small text-muted py-3 mt-auto">
        <div class="container">
            <div class="row gy-2 align-items-center text-center text-md-start">
                <div class="col-12 col-md-4">
                    <span>© TecnoStore @DateTime.Now.Year</span>
                </div>
                <div class="col-12 col-md-4">
                    <span>TSD - ITES @DateTime.Now.Year</span>
                </div>
                <div class="col-12 col-md-4 text-md-end">
                    <span>Desarrollador - Gustavo Torres</span>
                </div>
            </div>
        </div>
    </footer>

</div>
